# File dan direktori yang diabaikan oleh Git

# Dependencies
/node_modules
/.pnp
.pnp.js

# Coverage hasil pengujian
/coverage

# Direktori hasil build untuk Next.js
/.next/
/out/

# Direktori hasil produksi
/build

# File .DS_Store di macOS
.DS_Store

# File dengan ekstensi .pem
*.pem

# File log debug NPM dan Yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File lingkungan lokal dengan ekstensi .env.local
.env*.local
.env

# Direktori Vercel
.vercel

# File TypeScript
*.tsbuildinfo
next-env.d.ts
